* {

	box-sizing: border-box;

}

body {

	-webkit-font-smoothing: antialiased;
	color: #4d4d4d;

}

@font-face {

    font-family: gotham-ultra;
    src: url(../font/Gotham-Ultra.otf);
}

@font-face {

    font-family: gotham-light;
    src: url(../font/Gotham-Light.otf);
}

h2 {

	font-family: gotham-light;
	font-weight: 100;
	font-size: 62px;
	letter-spacing: -3px;

}

p {

	font-family: gotham-light;
	font-weight: 100;
	font-size: 32px;
	letter-spacing: -1px;
	line-height: 40px;

}

#header {

   	padding-bottom: 40px;

    background: #43cea2; /* For browsers that do not support gradients */    
    background: -webkit-linear-gradient(#43cea2 top, #185a9d); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #43cea2, #185a9d); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #43cea2, #185a9d); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #43cea2, #185a9d); /* Standard syntax (must be last) */
}

#header #logo {

	width: 180px;
	text-align: left;
	color: white;
	margin-left: 70px;
	margin-top: 90px;
	
}

#header h1 {

	text-align: left;
	font-family: gotham-ultra;
	text-transform: uppercase;
	font-size: 130px;
	font-weight: 100;
	line-height: 95%;
	text-decoration: none;

	padding: 0;
	color: white;
	margin-left: 70px;
	margin-right: 50px;
	margin-top: 20px;

}

#header h1 a {

	color: white;

}

#intro {

	text-align: center;
	color: white;
	padding: 130px;
	background-image: url("../img/high/introbg2.jpg");
	/*background-attachment: fixed;	*/ /*css-paralax*/
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

}

#intro h2 {

	margin: 0;

}

#intro p {

	margin: 0;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 255px;
	padding-right: 255px;

}

#intro img {

	width: 300px;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;

}

#features {

	text-align: center;
	padding: 200px;

}

.flex-container {

	display: -webkit-flex;
    display: flex;
    width: 100%;

}

.flex-item {

	width: 50%;

}

#features #text_right {

	text-align: left;
	padding-top: 17%;
	padding-right: 10%;
	padding-left: 5%

}

#features #text_left {

	text-align: left;
	padding-top: 17%;
	padding-right: 5%;
	padding-left: 10%;

}

#more {

	text-align: center;
	padding-top: 0;
	padding-bottom: 150px;
}

#more div { 

	display: inline-block;
	text-align: center;
	width: 30%;
	margin-top: 70px;

} 

#more h2 {

	margin-top: 0;
	padding-left: 255px;
	padding-right: 255px;

}

#cta {

	background-color: #4cb6ac;
	padding-top: 100px;
	text-align: center;

}

#cta img {

	vertical-align: bottom;

}

#cta h1 {

	font-family: gotham-ultra;
	text-transform: uppercase;
	font-size: 130px;
	font-weight: 100;
	line-height: 95%;
	color: white;

}

#cta #image-container {

	vertical-align: bottom;
    display: table-cell;

}

#cta #textblock_right {

	color: white;
	text-align: left;
	padding-right: 12%;

}

#cta #fb_button {

	color: white;
}

.button {


	font-family: gotham-light;
	font-weight: 100;
	font-size: 32px;

	color: #4cb6ac;
	text-decoration: none;
	
	background-color: white;
	padding: 40px 50px 40px 50px; /*top, right, bottom, left*/
	margin-top: 10px;
	display: inline-block;

}

#footer {

	display: inline-block;
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;

}

#footer div {

	width: 48%;
	display: inline-block;
	vertical-align: middle;

}

#footer h2 {

	padding-left: 70px;

}

#footer iframe {

	padding-left: 30px;
	padding-right: 30px;

}


/* DESKTOP LOWER SIZES 1 ========================================= */


@media screen and (max-width: 1590px) {
	
h2 {

	font-family: gotham-light;
	font-size: 48px; /*62*/
	font-weight: 100;
	letter-spacing: -3px;

}

p {

	font-family: gotham-light;
	font-size: 28px; /*32*/
	font-weight: 100;
	letter-spacing: -1px;
	line-height: 40px;

}

#header #logo {

	width: 135px; /*180*/

}

#header h1 {

	font-size: 90px; /*130*/

}

#intro p {

	padding-left: 40px; /*255*/
	padding-right: 40px; /*255*/

}

#features img {

	width: 95%;

}

#features #text_right {

	text-align: left;
	padding-top: 12%; /*17*/
	padding-right: 0; /*10*/
	padding-left: 8%; /*5*/
	margin-left: 50px;

}

#features #text_left {

	text-align: left;
	padding-top: 12%; /*17*/
	padding-right: 5%; /*10*/
	padding-left: 0%; /*5*/
	margin-right: 50px;

}

#more h2 {

	margin-top: 0;
	padding-left: 100px; /*255*/
	padding-right: 100px; /*255*/

}

#more img {

	width: 65%;

}

#cta {

	background-color: #4cb6ac;
	padding-top: 100px;
	text-align: center;

}

#cta img {

	vertical-align: bottom;
	width: 75%;

}

#cta h1 {

	font-size: 90px;
	font-weight: 100;
	line-height: 95%;
	margin: 0;

}

#cta #textblock_right {

	text-align: left;
	padding-right: 12%;
	padding-top: 50px;
	margin-left: 50px;

}

.button {

	font-size: 32px;
	padding: 25px 35px 25px 35px; /*top, right, bottom, left*/

}

#footer h2 {

	font-size: 46px;

}


/* DESKTOP LOWER SIZES 2 ========================================= */


@media screen and (max-width: 1220px) {
	
h2 {

	font-size: 32px;
	letter-spacing: -1px;

}

p {

	font-size: 22px;
	letter-spacing: -1px;
	line-height: 30px;

}

#header h1 {

	font-size: 80px;

}

#intro {

	padding-top: 80px;
	padding-right: 0;
	padding-left: 0;
	padding-bottom: 80px;

}

#intro p {

	padding-left: 70px;
	padding-right: 70px;

}

#intro img {

	width: 220px;

}

#features {

	padding-top: 100px;
	padding-left: 70px;
	padding-right: 70px;
	padding-bottom: 100px;

}

#features img {

	width: 95%;

}

#features #text_right {

	text-align: left;
	padding-top: 30%;
	padding-right: 0; 
	padding-left: 0%; 
	margin-left: 20px;

}

#features #text_left {

	text-align: left;
	padding-top: 25%;
	padding-right: 0; 
	padding-left: 0%; 
	margin-right: 20px;

}

#more {

	padding-bottom: 120px;

}

#more h2 {

	margin-top: 0;
	padding-left: 100px;
	padding-right: 100px; 

}

#more img {

	width: 65%;

}

#cta {

	background-color: #4cb6ac;
	text-align: center;

	padding-top: 50px;
	padding-right: 15px;
	padding-left: 15px;

}

#cta h1 {

	font-size: 57px;
	font-weight: 100;
	line-height: 100%;

}

#cta #image-container {

	display: block;

}

#cta #textblock_right {

	text-align: left;
	padding-right: 10%; /*0*/
	margin: auto;

}

.button {

	font-size: 22px;
	padding: 20px 30px 20px 30px; /*top, right, bottom, left*/

}

#footer h2 {

	font-size: 46px;

}


/* MOBILE SCREEN SIZES ========================================= */


@media screen and (max-width: 865px) {


h2 {

	font-size: 32px;
	letter-spacing: -1px;

}

p {

	font-size: 22px;
	letter-spacing: -1px;
	line-height: 30px;

}

#header {

   	padding-bottom: 60px;

}

#header #logo {

	width: 120px;
	margin-left: 20px;
	margin-top: 70px;
	
}

#header h1 {

	font-size: 45px;
	font-weight: 100;
	line-height: 100%;

	padding: 0;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 30px;

}

#intro {

	padding-top: 60px;
	padding-right: 15px;
	padding-left: 15px;
	padding-bottom: 80px;


}

#intro p {

	margin: 0;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 20px;
	padding-right: 20px;

}

#intro img {

	width: 200px;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;

}


#features {

	text-align: center;

	padding-top: 90px;
	padding-bottom: 30px;
	padding-right: 15px;
	padding-left: 15px;

}

.flex-container {

	display: block;
    width: 100%;

}

.flex-item {

	width: 100%;

}

#features #row1 {

	margin: 0;

}

#features #text_right {

	text-align: center;
	padding-top: 0;
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 30px;
	margin: 0;

}

#features #text_left {

	text-align: center;
	padding-top: 0;
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 30px;
}

#features  img {

	width: 75%;
	margin: 0;
	padding: 0;

}

/* INVERT DIV ORDER */

#row2 {

	display: flex;
	flex-direction: column-reverse;

}

/* END - INVERT DIV ORDER */

#more {

	display: none;

}

#cta {

	background-color: #4cb6ac;
	text-align: center;

	padding-top: 70px;
	padding-bottom: 50px;
	/*padding-right: 15px;
	padding-left: 15px;*/

}

#cta img {

	display: none;

}

#cta h1 {

	font-size: 57px;
	font-weight: 100;
	line-height: 100%;

}

#cta p {

	padding-right: 5%;
	padding-left: 5%;

}

#cta #image-container {

	display: block;

}

#cta #textblock_right {

	text-align: center;
	padding: 0;
	margin-left: 0;

}

.button {

	font-size: 22px;
	padding: 20px 30px 20px 30px; /*top, right, bottom, left*/

}

#footer {

	display: block;
	width: 100%;
	padding-top: 0px;
	padding-bottom: 15px;

	padding-right: 15px;
	padding-left: 15px;

}

#footer div {

	width: 100%;
	display: block;

}

#footer h2 {

	text-align: center;
	font-size: 32px;
	padding: 0;

}

#footer iframe {

	padding: 0px;

}

}








